
<% content_for :head do %>

<!-- Vendor CSS -->
<link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
<link href="/vendors/bower_components/sweetalert2/dist/sweetalert.css" rel="stylesheet">
<link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
<link href="/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
<link href="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
<link href="/vendors/bower_components/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">

<!-- CSS -->
<link href="/css/app_1.min.css" rel="stylesheet">
<link href="/css/app_2.min.css" rel="stylesheet">
<link href="/css/map_style.css" rel="stylesheet">

<% end %>

<%= render partial: 'layouts/console/header' %>

<section id="main">

    <%= render partial: 'layouts/console/sideBar' %>

    <section id="content">
        <div class="container">
            <div class="block-header">
                <h2>RECOGIDA DE MUESTRAS</h2>
            </div>

            <div class="card" id="pickupLocation">

                <form class="form-horizontal" role="form">
                    <input hidden="hidden" type="text" id="latitude" value="<%= @actual_pickup_request.latitude %>">
                    <input hidden="hidden" type="text" id="longitude"value="<%= @actual_pickup_request.longitude %>">
                    <div class="card-header">
                        <h2>Estado de la recogida
                        </h2>
                    </div>

                    <div class="card-body card-padding" style="padding-bottom: 0px;">
                        <div class="form-group">
                            <label for="getName" class="col-sm-2 control-label">Nombre:</label>
                            <div class="col-sm-4">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" id="getName"
                                            placeholder="Nombre" value="<%= @actual_pickup_request.user.name %>" disabled>
                                </div>
                            </div>
                            <label for="getLastName" class="col-sm-1 control-label">Apellido:</label>
                            <div class="col-sm-4">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" id="getLastName"
                                            placeholder="Apellido" value="<%= @actual_pickup_request.user.lastname %>" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="getCity" class="col-sm-2 control-label">Ciudad:</label>
                            <div class="col-sm-4">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" id="getCity"
                                            placeholder="Correo electrónico" value="<%= @actual_pickup_request.user.city %>" disabled>
                                </div>
                            </div>
                            <label for="getAddress" class="col-sm-1 control-label">Dirección:</label>
                            <div class="col-sm-4">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" id="getAddress"
                                            placeholder="Dirección" value="<%= @actual_pickup_request.address %>" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="getEmail" class="col-sm-2 control-label">Correo:</label>
                            <div class="col-sm-4">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" id="getEmail"
                                            placeholder="Correo electrónico" value="<%= @actual_pickup_request.user.email %>" disabled>
                                </div>
                            </div>
                            <label for="getPhone" class="col-sm-1 control-label">Teléfono:</label>
                            <div class="col-sm-4">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" id="getPhone"
                                            placeholder="Teléfono" value="<%= @actual_pickup_request.user.phone %>" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="getState" class="col-sm-2 control-label">Estado:</label>
                            <div class="col-sm-4">
                                <div class="fg-line">
                                    <input type="text" class="form-control input-sm" id="getState"
                                            placeholder="Estado" value="<%= @actual_pickup_request.status_string %>" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputComment" class="col-sm-2 control-label">Comentarios:</label>
                            <div class="col-sm-9">
                                <div class="fg-line">
                                    <textarea class="form-control input-sm" id="inputComment" rows="5"
                                    placeholder="Comentarios" value="<%= @actual_pickup_request.message %>" disabled></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputState" class="col-sm-2 control-label">Cambiar estado a:</label>
                            <div class="col-sm-9">
                                <div class="fg-line">
                                    <% if @actual_pickup_request.status == 0 %>
                                    <button type="button" class="btn bgm-red waves-effect" disabled>PENDIENTE</button>
                                    <button type="button" class="btn bgm-gray waves-effect" onclick="changeState(1, <%= @actual_pickup_request.id %>)">CONFIRMADO</button>
                                    <button type="button" class="btn bgm-gray waves-effect" onclick="changeState(2, <%= @actual_pickup_request.id %>)">COMPLETADO</button>
                                    <% elsif @actual_pickup_request.status == 1 %>
                                    <button type="button" class="btn bgm-gray waves-effect" disabled>PENDIENTE</button>
                                    <button type="button" class="btn bgm-orange waves-effect">CONFIRMADO</button>
                                    <button type="button" class="btn bgm-gray waves-effect" onclick="changeState(2, <%= @actual_pickup_request.id %>)">COMPLETADO</button>
                                    <% elsif @actual_pickup_request.status == 2 %>
                                    <button type="button" class="btn bgm-gray waves-effect" disabled>PENDIENTE</button>
                                    <button type="button" class="btn bgm-gray waves-effect" onclick="changeState(1, <%= @actual_pickup_request.id %>)">CONFIRMADO</button>
                                    <button type="button" class="btn bgm-green waves-effect">COMPLETADO</button>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="map"></div>
            </div>
        </div>
    </section>
</section>

<%= render partial: 'layouts/console/footer' %>
<% content_for :bottom do %>
<!-- Javascript Libraries -->
<script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/vendors/bower_components/Waves/dist/waves.min.js"></script>
<script src="/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
<script src="/vendors/bower_components/sweetalert2/dist/sweetalert.min.js"></script>
<script src="/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyrA2a6fDM1WNJ7g2jtj0rC2yziv5Qn68&callback=initMap">
</script>


<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
    <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->

<script src="/js/app.js"></script>

<script>
    $(document).ready(function() {
        $('#data-table-basic').DataTable();
        // setPickUpCenter(document.getElementById("latitude").value
        // , document.getElementById("longitude").value);
    } );
    function initMap(){
        var uluru = {lat: <%= @actual_pickup_request.latitude %>, lng: <%= @actual_pickup_request.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru,
            scrollwheel: false
        });

        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            draggable: false  
        });
    }

    function changeState(val, id){
        if(val == 1){
            text = "CONFIRMADO";
        }else if(val == 2){
            text = "COMPLETADO";
        }
        swal({
            title: "Está seguro?",
            text: "Se cambiará el estado de la recogida a: " + text, // TODO
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Confirmar",
            closeOnConfirm: false
            },
            function(){
                //TODO: Request
                $.ajax({
                    url: '/pickup_requests/' + id + '/change_state',
                    type: 'PUT',
                    data: {
                        pickup_request: {status: val}
                    },
                    success: function(result) {
                        swal({
                            title: "", 
                            text: result.success, 
                            type: "success"
                        },function(){
                            location.reload();
                        });
                    },
                    error: function(data){
                    swal("", data.responseJSON.message, "error")
                }
                });
                // swal("El estado ha sido cambiado!", "El estado de la recogida ha cambiado a: " + text);
        });
    }
</script>
<% end %>
