<div class="mail-container">
  <div class="banner-container">
    <%= email_image_tag("logo.png", class: "banner-image") %>
  </div>
  <div class="mail-text">
    <p>Hola, <strong><%= @user.name %> <%= @user.lastname if !@user.lastname.nil? %></strong>:</p>
    <p>Se le recuerda que tiene una cita programada para el día de mañana <strong><%= @appointment_date %></strong>
      a las <strong><%= @appointment_hour %> </strong> en la sede <strong><%= @lab %></strong>,
      en caso de alguna novedad por favor comuníquese con la sede correspondiente.</p>
    <div class="credentials">
      <p>Fecha: <strong><%= @appointment_date %></strong><br>
        Hora: <strong><%= @appointment_hour %></strong>
      </p>
      <p>Sede: <strong><%= @lab %></strong><br>
        Dirección: <strong><%= @lab_address %></strong>
        <br>Teléfono: <strong><%= @lab_phone %></strong>
      </p>
      <p>Estado: <strong>CONFIRMADA</strong></p>
    </div>
    <div class="mail-footer">
      **Esto ha sido una notificación automática, por favor no responder
      a este correo**
    </div>
  </div>
</div>