<div class="mail-container">
    <div class="banner-container">
        <%= email_image_tag("logo.png", class: "banner-image") %>
    </div>
    <div class="mail-text">
        <p>Hola, <%= @user.name %> <%= @user.lastname if !@user.lastname.nil?%>:</p>
        <p>Su cita programada para el día <strong><%= @appointment_date %></strong> a las <strong><%= @appointment_hour %></strong> ha sido cancelada,
        en caso de tratarse de un error por favor comuníquese lo más pronto con la sede correspondiente.</p>
        <div class="credentials">
            <p><strong>Fecha:</strong><%= @appointment_date %></p>
            <p><strong>Hora:</strong><%= @appointment_hour %></p>
            <p><strong>Estado:</strong>CANCELADA</p>
        </div>
        <div class="mail-footer">
            **Esto ha sido una notificación automática, por favor no responder 
            a este correo**
        </div>
    </div>
</div>
