<div class="mail-container">
  <div class="banner-container">
    <%= email_image_tag("logo.png", class: "banner-image") %>
  </div>
  <div class="mail-text">
    <p>Hola, <strong><%= @user.name %> <%= @user.lastname if !@user.lastname.nil? %></strong>:</p>
    <p>Un encargado del sistema le ha asignado una nueva contraseña para acceder a la plataforma de Citopat de Colombia, a
      continuación
      se muestran las nuevas credenciales de acceso:</p>
    <div class="credentials">
      <p>Usuario: <strong><%= @user.email %></strong><br>
        Contraseña: <strong><%= @generated_password %></strong></p>
      <p style="color: #716868;">Para acceder a la plataforma haga click <a href="<%= @url %>">aqui.</a></p>
    </div>
    <div class="mail-footer">
      ** Por motivos de seguridad se recomienda una vez haya ingresado a la plataforma cambiar la
      contraseña que se le asignó **<br>
      ** Esto ha sido una notificación automática, por favor no responder
      a este correo **
    </div>
  </div>
</div>
