<div class="mail-container">
    <div class="banner-container">
        <%= email_image_tag("logo.png", class: "banner-image") %>
    </div>
    <div class="mail-text">
        <p>Hola, <strong><%= @user.name %> <%= @user.lastname if !@user.lastname.nil? %></strong>:</p>
        <p>Bienvenido(a) a Citopat de Colombia!<br>Se le ha creado un usuario con el cual podrá acceder
        a las diferentes funcionalidades de la plataforma tales como:
          <ul>
            <li>Programar citas de citología.</li>
            <li>Solicitar recogida de muestras a domicilio (con costo adicional).</li>
            <li>Descargar resultados de exámenes previamente realizados.</li>
          </ul>
        Para acceder al sitio web, se le han asignado las siguientes credenciales:</p>
        <div class="credentials">
            <p>Usuario: <strong><%= @user.email %></strong><br>
            Contraseña: <strong><%= @generated_password %></strong></p>
            <p style="color: #716868;">Para acceder a la plataforma haga click <a href="<%= @url %>">aqui.</a></p>
        </div>
        <div class="mail-footer">
            ** Por motivos de seguridad se recomienda una vez haya ingresado a la plataforma cambiar la
            contraseña que se le asignó **<br>** Esto ha sido una notificación automática, por favor no responder
            a este correo **
        </div>
    </div>
</div>
