<!--<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>-->

<% content_for :head do %>
  <!-- Vendor CSS -->
  <link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">

  <!-- CSS -->
  <link href="/css/app_1.min.css" rel="stylesheet">
  <link href="/css/app_2.min.css" rel="stylesheet">
<% end %>
  <div class="login-content">
    <!-- Login -->
    <div class="lc-block toggled" id="l-login">
      <div class="lcb-form">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
        <div class="input-group m-b-20">
          <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
          <div class="fg-line">
            <!-- <input type="text" class="form-control" placeholder="Username"> -->
            <!--<%= f.email_field :email, autofocus: true , class: 'form-control',placeholder:"Email" %>-->
            <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder:"Nueva contraseña", class: "form-control" %>
          </div>
        </div>

        <div class="input-group m-b-20">
          <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
          <div class="fg-line">
            <!-- <input type="password" class="form-control" placeholder="Password"> -->
            <!--<%= f.password_field :password, autocomplete: "off",class:"form-control",placeholder:"Password" %>-->
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmar contraseña", class: "form-control" %>
          </div>
        </div>
        <!-- <a href="" class="btn btn-login btn-success btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
        <%= f.submit "Log in" %> -->
        <%= button_tag(type: 'submit', class: "btn btn-login btn-success btn-float") do %>
        <i class="zmdi zmdi-arrow-forward"></i>
        <% end %>
        <% end %>
      </div>
      <div class="lcb-navigation">
        <a href="/admins/sign_in" data-ma-block="#l-login"><i class="zmdi zmdi-long-arrow-right"></i> <span>Ingresar</span></a>
      </div>
    </div>
  </div>

<% content_for :bottom do %>
  <!-- Javascript Libraries -->
  <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="/vendors/bower_components/Waves/dist/waves.min.js"></script>
  <script src="/js/app.min.js"></script>
<% end %>

