<!--<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>-->

<div class="mail-container">
    <div class="banner-container">
        <%= email_image_tag("logo.png", class: "banner-image") %>
    </div>
    <div class="mail-text">
        <p>Hola, <%= @resource.email%>:</p>
        <p>Se ha solicitado el restablecimiento de la contraseña para acceder a la plataforma de Citopat de Colombia,
            a continuación se adjunta el link que lo redirigirá a la plataforma para poder cambiar la contraseña :</p>
        <div class="credentials">
            <p><strong>Restablecer contraseña:</strong><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
        </div>
        <div class="mail-footer">
            **Si no pidió reestablecer la contraseña por favor ignore este correo**Esto ha sido una notificación automática, por favor no responder 
            a este correo**
        </div>
    </div>
</div>
